header{
    text-align: center;
    height: 50px;
    width: auto;
}
.container{
    display: flex;
   
}

.side{
    
    display: flex;
    flex-direction: column;
    flex: 1 ;
    margin: 20px;
    

}
.selectionTitle{
    text-align: center;
}
.selectionContainer{
    display: flex;
    justify-content: center;
    flex:1;
}
img{
    height: 100px;
    width: 100px;
    border:5px solid black;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;

}
img:hover{
    background-color: rgb(158, 107, 107) ;
    cursor: pointer;
}
@media screen and (max-width:992px){
    .container{
        flex-direction: column;
    }
    
}